.marquee-container {
  background: #2c234b; /* dark blue background */
  color: white;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0;
}

.marquee {
  display: inline-block;
  animation: scroll 95s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee span {
  font-size: 18px;
  font-weight: bold;
  padding-right: 50px;
}
